# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'practicum-by-yandex' : 11225,
'brainstation' : 10571
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard
practicum-by-yandex
brainstation

In [3]:
comments_clean = comments.drop(columns = ['user', 'body', 'rawBody', 'comments'])
comments_clean

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,282584,Anonymous,True,None,2021.0,False,,Challenging,10/20/2021,2021-10-20,Web Development Bootcamp,4.3,5.0,4.0,4.0,It's truly a hands-on experience. Learning the...,ironhack
1,282540,Guilherme Sousa Guedes Silva,False,None,2021.0,False,,Career Change with Ironhack,10/19/2021,2021-10-19,Web Development Bootcamp,5.0,5.0,5.0,5.0,For those looking for an opportunity to enter ...,ironhack
2,282353,Juan Diego Mena Mena Rojas,False,None,2021.0,True,Full Stack Developer,"The most challenging, intensive and rewarding ...",10/13/2021,2021-10-13,Web Development Bootcamp,4.7,5.0,5.0,4.0,It has been a great experience to successfully...,ironhack
3,282201,Anonymous,True,None,2020.0,False,,Its not worth,10/7/2021,2021-10-07,None,1.0,1.0,1.0,1.0,I wouldn't tell you to believe anything they t...,ironhack
4,281922,Antoine Theillac,False,None,2021.0,False,,Exigeant mais enrichissant,9/30/2021,2021-09-30,Data Analytics Part-Time,4.7,5.0,5.0,4.0,La formation demande un investissement fort et...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,233011,Anonymous,False,None,2015.0,True,None,BrainStation's Product Management course helpe...,11/10/2015,2015-11-10,Product Management,5.0,5.0,NaN,NaN,I took BrainStation's Product Management cours...,brainstation
301,232993,Anonymous,False,None,2015.0,True,None,The course offers good continuing education fo...,11/1/2015,2015-11-01,Digital Marketing,3.0,3.0,NaN,NaN,The content covered was relevant and interesti...,brainstation
302,232987,Anonymous,False,None,2015.0,True,None,The Digital Marketing course is structured so ...,10/30/2015,2015-10-30,Digital Marketing,4.0,4.0,NaN,NaN,This program has some great insight from peopl...,brainstation
303,232910,Anonymous,False,None,2015.0,True,None,Built my first iOS app!,10/24/2015,2015-10-24,iOS Development,5.0,5.0,NaN,NaN,I am enrolled in the Intro to iOS Development ...,brainstation
304,232524,Anonymous,False,None,NaN,False,None,Amazing Learning Experience,7/21/2015,2015-07-21,Digital Marketing,4.0,5.0,5.0,2.0,I was registered for the digital marketing cla...,brainstation

In [4]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

/var/folders/mg/hz10g1l14916bvkqvy7r1fg40000gn/T/ipykernel_4094/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

app-academy
springboard
practicum-by-yandex
brainstation

In [5]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

                 school  school_id
 0  practicum-by-yandex      11225  ,
       id        description  country.id    country.name country.abbrev  \
 0  15935  New York City, NY         1.0   United States             US
 1  15985    Toronto, Canada         2.0          Canada             CA
 2  16010  Vancouver, Canada         2.0          Canada             CA
 3  16909         Boston, MA         1.0   United States             US
 4  16910        Chicago, IL         1.0   United States             US
 5  16940             Online         NaN             NaN            NaN
 6  17706          Miami, FL         1.0   United States             US
 7  17731         London, UK        11.0  United Kingdom             GB

    state.id        state.name state.abbrev  state.keyword  city.id  city.name  \
 0      34.0          New York           NY       new-york   1507.0        NYC
 1       NaN               NaN          NaN            NaN   1547.0    Toronto
 2      71.0  British Columbia           BC                 31138.0  Vancouver
 3      23.0     Massachusetts           MA  massachusetts     47.0     Boston
 4      15.0          Illinois           IL       illinois     39.0    Chicago
 5       1.0            Online       Online         online      NaN        NaN
 6      11.0           Florida           FL        florida     31.0      Miami
 7       NaN               NaN          NaN            NaN  31176.0     London

     city.keyword        school  school_id
 0  new-york-city  brainstation      10571
 1        toronto  brainstation      10571
 2      vancouver  brainstation      10571
 3         boston  brainstation      10571
 4        chicago  brainstation      10571
 5            NaN  brainstation      10571
 6          miami  brainstation      10571
 7         london  brainstation      10571  ]

In [6]:
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,ironhack,10828
9,17233,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,ironhack,10828
0,15704,"San Francisco, CA, United States",1.0,United States,US,13.0,San Francisco,san-francisco,6.0,California,CA,california,app-academy,10525
1,15705,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,app-academy,10525
2,15862,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,app-academy,10525
0,16013,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,springboard,11035
0,17154,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,practicum-by-yandex,11225
0,15935,"New York City, NY",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,brainstation,10571
1,15985,"Toronto, Canada",2.0,Canada,CA,1547.0,Toronto,toronto,NaN,NaN,NaN,NaN,brainstation,10571
2,16010,"Vancouver, Canada",2.0,Canada,CA,31138.0,Vancouver,vancouver,71.0,British Columbia,BC,,brainstation,10571
3,16909,"Boston, MA",1.0,United States,US,47.0,Boston,boston,23.0,Massachusetts,MA,massachusetts,brainstation,10571
4,16910,"Chicago, IL",1.0,United States,US,39.0,Chicago,chicago,15.0,Illinois,IL,illinois,brainstation,10571
5,16940,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,brainstation,10571
6,17706,"Miami, FL",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,brainstation,10571
7,17731,"London, UK",11.0,United Kingdom,GB,31176.0,London,london,NaN,NaN,NaN,NaN,brainstation,10571

In [7]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Cyber Security Bootcamp     ironhack      10828
1             Cybersecurity Part-Time     ironhack      10828
2             Data Analytics Bootcamp     ironhack      10828
3            Data Analytics Part-Time     ironhack      10828
4               UX/UI Design Bootcamp     ironhack      10828
5              UX/UI Design Part-Time     ironhack      10828
6            Web Development Bootcamp     ironhack      10828
7           Web Development Part-Time     ironhack      10828
0                       Bootcamp Prep  app-academy      10525
1  Software Engineer Track: In-Person  app-academy      10525

In [11]:
badges = pd.concat(badges_list)
badges['badge_id'] = ['1','2','3','4','5','6','7','8','9','10','11','12']
badges

,name,keyword,description,school,school_id,badge_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828,1
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828,2
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828,3
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525,4
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525,5
0,Available Online,available_online,<p>School offers fully online courses</p>,springboard,11035,6
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,springboard,11035,7
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,springboard,11035,8
0,Available Online,available_online,<p>School offers fully online courses</p>,practicum-by-yandex,11225,9
1,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,practicum-by-yandex,11225,10
0,Available Online,available_online,<p>School offers fully online courses</p>,brainstation,10571,11
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,brainstation,10571,12

In [12]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,practicum.yandex.com/?utm_source=referral&utm_...,"<span class=""truncatable""><p>Created by engine...",https://d92mrp7hetgfk.cloudfront.net/images/si...,practicum-by-yandex,11225
0,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571

In [13]:
from sqlalchemy import create_engine


# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="NEJGh#HtbcMDA9bA",
                               db="project"))

In [14]:
schools.to_sql('schools', con = engine, if_exists = 'append', chunksize = 1000)

In [15]:
badges.to_sql('badges', con = engine, if_exists = 'append', chunksize = 1000)

In [16]:
courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 1000)

In [17]:
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 1000)

In [18]:
comments_clean.to_sql('comments', con = engine, if_exists = 'append', chunksize = 1000)